<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fintech.clik">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.fintech.clik.CLik"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.fintech.clik.AboutActivity"></activity>
        <activity
            android:name="com.fintech.clik.ChatFragmentActivities.ChatActivity"
            android:parentActivityName="com.fintech.clik.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.ChatFragmentActivities.SearchActivity_ChatFragment"
            android:parentActivityName="com.fintech.clik.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.userprofile.ProfilePosts"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fintech.clik.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.fintech.clik.userprofile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.Feed.LikeCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.userprofile.EditProfile2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.Feed.AddPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.userAuth.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.userAuth.VerifyPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.userAuth.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.userprofile.ConnectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.fintech.clik.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fintech.clik.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fintech.clik.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>